body{
    margin:0;
    font-family:Arial, sans-serif;
}

/* Header */
.header{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:blue;
    padding:10px;
}

.header img{
    width:100%;
    max-height:150px;
    object-fit:cover;
}

/* Navigation */
.nav{
    background-color:blue;
}

.nav ul{
    list-style:none;
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns:repeat(5,1fr);
    text-align:center;
}

.nav li{
    position:relative;
}

.nav a{
    display:block;
    padding:15px;
    color:white;
    text-decoration:none;
    font-weight:bold;
    border-right:1px solid white;
}

.nav li:last-child > a{
    border-right:none;
}

.nav ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background-color:blue;
    width:100%;
}

.nav ul ul a{
    font-weight:normal;
    border:none;
}

.nav li:hover ul{
    display:block;
}

/* Content */
.content{
    padding:20px;
    background-color:white;
    overflow:hidden;
}

.left{
    width:65%;
    float:left;
}

.left p{
    text-align:justify;
}

.right{
    width:30%;
    float:right;
    text-align:center;
}

.right img{
    width:150px;
}

/* Footer */
.footer{
    background-color:black;
    color:white;
    padding:20px;
    text-align:center;
}
